<!-- Nagłówek -->
<app-navbar navbarTitle= 'Najlepsze Cytaty'></app-navbar>
<!-- koniec nagłówka -->

<div class="container q-container">
  <!--Dodawanie cytatu-->
 <app-button
   customClass = "btn-floating teal add-button"
  (clickButton)="form.onShowForm()">
  <i class="material-icons">add</i>
</app-button>

 <app-form #form (newQuotetion)= "onNewQuotetion($event)"></app-form>
  <!-- Koniec dodawanie cytatu -->
  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <app-vote-list [quotes]= "quotes"
      (vote)= "addVote($event.quotation, $event.value)">
    </app-vote-list>
    </div>
    <!-- Koniec lista cytatów -->

    <!-- Sekcja rankigów -->
    <div class="col s4">
      <app-ranking [quotesRankingList]= "bestQuots()" rankingTitle= "Najlepszy"></app-ranking>

      <app-ranking [quotesRankingList]= "worstQuots()"rankingTitle= "Najgorszy"></app-ranking>
    </div>
    <!-- Sekcja rankigów -->
  </div>
</div>

<!-- Footer -->
 <app-footer></app-footer>

